@font-face {
    src: url("PossumSaltareNF.ttf");
}
.font13 {
    -fx-font-family: "PossumSaltareNF.ttf";
    -fx-font-size: 16;

}
.font12 {
    -fx-font-family: "PossumSaltareNF.ttf";
    -fx-font-size: 15;

}
.font14 {
    -fx-font-family: "PossumSaltareNF.ttf";
    -fx-font-size: 14;

}
.font22 {
    -fx-font-family: "PossumSaltareNF.ttf";
    -fx-font-size: 22;

}
.title {
    -fx-font-family: "PossumSaltareNF.ttf";
    -fx-font-size: 44;
    -fx-background-color: "transparent";
}
.title2 {
    -fx-font-family: "PossumSaltare";
    -fx-font-size: 33;
    -fx-background-color: "transparent";
}
.transparent-button{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-insets: 0;
}

.transparent-button:hover{
    -fx-background-color: gray;
}